$cinza: #F3F5F6;
$preto: #393b40;
$laranja: #ED7509;
$bege: #D9C0BA;
$azul: #B1BFDA;
$verdeEscuro: #7B8BA2;
$degradeLaranjaAzul: linear-gradient(to right, #f8d5c4, #dbeaf9);
$degrade: linear-gradient(to bottom, #dbeaf9 30%, #f7eee9 70%, #eaeafb, #f3f5f6);
$degradeInvertido: linear-gradient(to top, #dbeaf9 30%, #f7eee9 70%, #eaeafb, #f3f5f6);
$degradeDireita: linear-gradient(to right, #dbeaf9 30%, #f7eee9 70%, #eaeafb, #f3f5f6);
$degradeEsquerda: linear-gradient(to left, #dbeaf9 30%, #f7eee9 70%, #eaeafb, #f3f5f6);
