@import '../../styles/colors';

.sidebar{
    max-width: 250px;
    min-width: 230px;
    height: 100%;
    >h1{
        font-size: 30px;
    }

    >ul{
        list-style: none;
        display: flex;
        flex-direction: column;

        >li{
            cursor: pointer;
            padding: 12px;
            font-size: 20px;
            font-weight: 500;

            &:first-child{
                margin: 16px 0 0 0;
            }

            &:hover{
                background-color: $laranja;
                color: #fff;
            }
        }
    }
}