@import './styles/colors';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

    >p, >h1, >h2, >h3{
        color: $preto;
    }
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 36px;
}

::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
  }
  
  /* Estiliza o botão de rolagem (ponteiro) */
  ::-webkit-scrollbar-thumb {
    background-color: #CCC; /* Cor da barra de rolagem */
    border-radius: 8px; /* Borda arredondada */
  }
  
  /* Estiliza a área da barra de rolagem não coberta pelo botão de rolagem */
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Cor da área da barra de rolagem não coberta */
  }