@import './styles/colors';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: $preto;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 36px;
}